
<%# NEWFEED  %>
<hr>
<div class="newfeed">
      <%# one tweet %>
        <% @other_tweets.each do |tweet| %>
        <div class="tweet">
            <div class="card shadow-sm" style="">
                <div class="card-body" style="width:100%;">
                    <h5 class="card-title"><a href="/ tweet.user_id.user_name "><%=@other_user.name%> </a></h5>
                    <h6 class="card-subtitle mb-2 text-muted"><a href="/ tweet.user_id.user_name "></a><%=@other_user.nickname%></a></h6>
                    <p class="card-text"><%=tweet.text%></p>
                    <hr>
                    <div class="tweet-actions" style="text-align:center;">
                        <button type="submit" value="reply" class="btn"><a href="#" class="card-link"> <i class="far fa-comment-dots">1</i></a></button>
                        <button type="submit" value="reply" class="btn"><a href="#" class="card-link"> <i class="fas fa-retweet">1</i></a></button>
                        <button type="submit" value="reply" class="btn"><a href="#" class="card-link"> <i class="fas fa-heart">1</i></a></button>
                
                    </div>
                </div>
            </div>
        </div>
        <% end %>
        